<ion-header>

  <ion-toolbar>
    <ion-buttons right>
      <button ion-button (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-grid *ngIf="cartServ.carItems.length == 0; else elseBlock">
    <ion-row>
      <ion-col text-center class="empty-cart">
          <ion-icon name="cart" class="icon-5x"></ion-icon>
          <br>
          Su carrito esta vaci&oacute;
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #elseBlock>
    <ion-list>
      <ion-item *ngFor="let prod of _prods" text-wrap>
        <ion-thumbnail item-left>
          <img [src]="prod.imagen">
        </ion-thumbnail>
        <h4>{{ prod.titulo }}</h4>
        <ion-row>
          <ion-col>
            <p> <b>{{ prod._id }}</b> </p>
            <p>{{ prod.aplicacion }}</p>
            <p>{{ 2000 | currency:'USD':true }}</p>
          </ion-col>
          <ion-col text-right>
            <div class="plusminus horiz">
              <button></button>
              <input type="number" name="productQty" value="1" min="1" max="10">
              <button></button>
            </div>
          </ion-col>
        </ion-row>

      </ion-item>
    </ion-list>
  </ng-template>

  <number-picker></number-picker>



</ion-content>
